@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");


.ouvidoria{
    width: 100%;
    height: 800px;
}

.text-ouvidoria{
    font-weight: 700;
    font-size: 1.5rem;
    color: #700404;
    margin-left: 2.5%;
    font-family: asap;
}

.container-principal{
    width: 95%;
    height: 700px;
    border-radius: 0.7%;
    background-color: #700404;
    align-content: center;
    margin-left: 2.5%;
}

.container-direito{
    width: 50%;
    height: 650px;
    float: left;
    margin-top: 2%;
}

.container-esquerdo{
    width: 50%;
    height: 455px;
    float: right;
    margin-top: 3.3%;
}

.container-esquerdo-inferior{
    width: 50%;
    height: 195px;
    float: right;
    margin-top: 3.3%;
}

.container-esquerdo-inferior-captcha{
    width: 25%;
    height: 195px;
    float: left;
    margin-top: 3.3%;

}


.blocos{
    color: #FFF;
    margin: 5px;
    padding: 10px;
    margin-left: 2%;
}

.text-preenchimentos{
    color: #FFF;
    font-family: asap;
    font-size: 1.0em;
    font-weight: 200;

}

.estilo-input{
    width: 96%;
    padding: 8px 20px;
    border: 1px solid var(--modalFaleConosco-cor-borda-input);
    outline: none;
    border-radius: 3px;
    margin-bottom: 0.5em;
    background-color: var(--modalFaleConosco-cor-bg-input);
    color: var(--modalFaleConosco-cor-texto-input);
}

.estilo-input-text{
    width: 95%;
    height: 450px;
    border: 1px solid var(--modalFaleConosco-cor-borda-input);
    outline: none;
    border-radius: 3px;
    margin-bottom: 0.5em;
    background-color: var(--modalFaleConosco-cor-bg-input);
    resize: none;
}

.estilo-input:hover{
    background-color:#f4f4f4;
}

.button-enviar{
    width: 70%;
    height: 60px;
    color: #700404;
    float: right;
    margin-right: 5%;
    background-color: #FFF;
    outline: none; 
    border-radius: 3px;
    margin-bottom: 0.5em;
    border-color: #FFF;
    font-family: asap;
}

.button-enviar:hover{
    background-color:#f4f4f4; 
}
@media  (max-width: 319px){
    .container-direito{
        width: 100%;
        height: 650px;
        float: left;
        margin-top: 2%;
    }
.container-esquerdo{
        width: 100%;
        background-color: #700404;
        height: 250px;

    }
    .container-principal{
        border-radius: 0.7%;
        background-color: #700404;
    }
    .ouvidoria{
        height: 1000px;   
    }

    .estilo-input-text{
        height: 100px;
        margin-left: 3%;
    }
    .container-esquerdo h3{
        margin-left: 5%;

    }
    .button-enviar{
        width: 70%;
        height: 30px;
        color: #700404;

        margin-right: 5%;
        background-color: #FFF;
        outline: none; 
        border-radius: 3px;
        margin-bottom: 0.5em;
        border-color: #FFF;
        font-family: asap;
    }
    .container-esquerdo-inferior-capcha {
        width: 100%;
        height: 20px;
        margin-left: 4%;
        float: left;

    }
}
@media (min-width: 320px) and (max-width: 375px){
    .container-direito{
        width: 100%;
        height: 600px;
        float: left;	
    }
    .container-esquerdo{
        width: 100%;
        background-color: #700404;
        height: 280px;

    }
    .container-principal{


        border-radius: 0.7%;
        background-color: #700404;


    }
    .ouvidoria{
        height: 980px;   

    }

    .estilo-input-text{
        height: 150px;
        margin-left: 3%;

    }
    .container-esquerdo h3{
        margin-left: 5%;

    }
    .button-enviar{
        width: 70%;
        height: 30px;
        color: #700404;

        margin-right: 5%;
        background-color: #FFF;
        outline: none; 
        border-radius: 3px;
        margin-bottom: 0.5em;
        border-color: #FFF;
        font-family: asap;
    }
    .container-esquerdo-inferior-capcha {
        width: 100%;
        height: 20px;
        margin-left: 4%;
        float: left;

    }

}
@media (min-width: 376px) and (max-width: 425px){
     .container-direito{
        width: 100%;
        height: 600px;
        float: left;	
    }
    .container-esquerdo{
        width: 100%;
        background-color: #700404;
        height: 280px;

    }
    .container-principal{


        border-radius: 0.7%;
        background-color: #700404;


    }
    .ouvidoria{
        height: 980px;   

    }

    .estilo-input-text{
        height: 150px;
        margin-left: 3%;

    }
    .container-esquerdo h3{
        margin-left: 5%;

    }
    .button-enviar{
        width: 70%;
        height: 30px;
        color: #700404;

        margin-right: 5%;
        background-color: #FFF;
        outline: none; 
        border-radius: 3px;
        margin-bottom: 0.5em;
        border-color: #FFF;
        font-family: asap;
    }
    .container-esquerdo-inferior-capcha {
        width: 100%;
        height: 20px;
        margin-left: 4%;
        float: left;

    }

}
@media (max-width: 600px){
     .container-direito{
        width: 100%;
        height: 600px;
        float: left;	
    }
    .container-esquerdo{
        width: 100%;
        background-color: #700404;
        height: 350px;
    }
    .estilo-input-text{
        height: 200px;
        margin-left: 3%;

    }
    .ouvidoria{
        height: 1050px;   

    }
       .container-esquerdo-inferior-capcha {
        width: 100%;
        height: 20px;
        margin-left: 4%;
        float: left;

    }
    
}

@media (min-width: 426px) and (max-width: 768px){
 .button-enviar{
        width: 100%;
        height: 30px;
        color: #700404;

        margin-right: 5%;
        background-color: #FFF;
        outline: none; 
        border-radius: 3px;
        margin-bottom: 0.5em;
        border-color: #FFF;
        font-family: asap;
    }
}
