:root {
  --cor-principal: #700404;
  --cor-secundaria: #540000;
  --cor-texto-principal: #212529;
  --site-cor-bg: #f4f4f4;
  --navbar-cor-bg: #ffffff;
  --navbar-cor-texto: #212529;
  --navbar-cor-btn-portal: #212529;
  --navbar-cor-hover-btn-portal: #751e1e;
  --navbar-cor-btn-vestibular: #212529;
  --navbar-cor-hover-btn-vestibular: #751e1e;
  --navbar-cor-btn-menu: #212529;
  --navbar-cor-hover-btn-menu: #751e1e;
  --navbar-cor-sombra: rgba(0, 0, 0, 0.15);
  --sidebar-cor-bg: #ffffff;
  --sidebar-cor-btn-menu: #606060;
  --sidebar-cor-hover-btn-menu: #700404;
  --sidebar-cor-active-btn-menu: #711f1f;
  --sidebar-cor-btn-submenu: #212529;
  --sidebar-cor-hover-btn-submenu: #751e1e;
  --sidebar-cor-btn-active-submenu: #711f1f;
  --sidebar-cor-bg-btn-menu: #d4d4d4;
  --sidebar-cor-btn-close: #212529;
  --sidebar-cor-hover-btn-close: #751e1e;
  --rodape-cor-bg: #000000;
  --rodape-cor-titulo-barras: #ffffff;
  --rodape-cor-barra-conteudo: rbga(0, 0, 0, 0.1);
  --rodape-cor-texto: #ffffff;
  --rodape-cor-links: #ffffff;
  --rodape-cor-hover-links: #eaeaea;
  --rodape-cor-icones: #ffffff;
  --rodape-cor-hover-icones: #eaeaea;
  --rodape-cor-btn-faleconosco: #ffffff;
  --rodape-cor-texto-btn-faleconosco: #000000;
  --rodape-cor-hover-btn-faleconosco: #eaeaea;
  --rodape-cor-hover-texto-btn-faleconosco: #000000;
  --rodape-cor-btn-comochegar: #ffffff;
  --rodape-cor-hover-btn-comochegar: #eaeaea;
  --modalFaleConosco-cor-bg: #ffffff;
  --modalFaleConosco-cor-titulo: #700404;
  --modalFaleConosco-cor-texto: #212529;
  --modalFaleConosco-cor-bg-input: #ffffff;
  --modalFaleConosco-cor-borda-input: #fafafa;
  --modalFaleConosco-cor-texto-input: #000000;
  --modalFaleConosco-cor-btn-enviar: #700404;
  --modalFaleConosco-cor-hover-btn-enviar: var(--cor-secundaria);
  --modalFaleConosco-cor-texto-btn-enviar: #212529;
  --modalFaleConosco-cor-hover-btn-texto-enviar: var(--cor-texto-principal);
  --editais-cor-bg: var(--cor-secundaria);
  --editais-cor-titulo: #ffffff;
  --editais-cor-link: #ffffff;
  --editais-cor-icone-pdf: #ffffff;
  --editais-cor-hover-link: #eaeaea;
}
