@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth; /*---ANIMA O SCROLL---*/
}

body {
  font-family: "Nunito";
  box-sizing: border-box;
  background: var(--site-cor-bg);
  margin-top: 6.5rem;
}

/*-------------------NAVBAR-------------------*/
@media (min-width: 768px) {
  .navbar-expand-md {
    justify-content: space-between;
  } 
}

.navbar {
  background-color: var(--navbar-cor-bg);
	box-shadow: 0 0.5rem 1rem var(--navbar-cor-sombra);
}

.navbar-frase {
	max-width: 320px;
	font-weight: 900;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	color: #700404;
	display: none;
}

/*------NAVBAR-TOGGLE-------*/
.navbar button:focus {
  outline: 0;
}

.navbar .navbar-brand {
  padding-bottom: 10px;
  margin: 0;
}

.navbar-toggler {
  font-size: 1.6rem;
  border: none;
  color: var(--navbar-cor-btn-menu);
}

.navbar-toggler:hover {
  color: var(--navbar-cor-hover-btn-menu);
}

.navbar-brand img {
  width: 120px;
}

/*------NAVBAR-MENU-------*/
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
}

.navbar-menu-item {
  outline: 0;
  padding: 12px 5px;
  margin: 0;
  border: none;
  background: transparent;
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.navbar-menu-item i {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.navbar-menu-item span {
  font-weight: 700;
  font-size: 0.7rem;
}

.navbar-menu-item-vestibular {
  color: var(--navbar-cor-btn-vestibular);
}

.navbar-menu-item-vestibular:hover {
  color: var(--navbar-cor-hover-btn-vestibular);
  text-decoration: none;
}

.navbar-menu-item-portal {
  color: var(--navbar-cor-btn-portal);
}

.navbar-menu-item-portal:hover {
  color: var(--navbar-cor-hover-btn-portal);
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .navbar {
    padding: 0.25rem;
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar-menu-item {
    width: 80px;
  }
}

/*-----------------FIM-NAVBAR-----------------*/
/*-----------------SIDEBAR--------------------*/
.overflow {
  overflow: hidden;
}

.sidebar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.sidebar {
  position: fixed;
  background-color: var(--sidebar-cor-bg);
  width: 250px;
  height: 100%;
  left: -250px;
  transition: all .2s;
}

.sidebar-active .sidebar__container {
  opacity: 1;
  visibility: visible;
}

.sidebar-active .sidebar {
  transform: translateX(250px);
}

.sidebar__wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

.sidebar__wrapper-top img {
  width: 85px;
}

.sidebar__wrapper-top i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--sidebar-cor-btn-close);
}

.sidebar__wrapper-top i:hover {
  color: var(--sidebar-cor-hover-btn-close);
}

/*-------INTERNO-SIDEBAR-MOBILE------*/

.sidebar__menu-itens {
  width: 100%;
  padding: 0 5px;
}

.sidebar__menu-itens a{
	text-decoration: none;
}

.sidebar__menu-itens li{
	list-style: none;
	position: relative;
}

.sidebar__menu-item, .sidebar__submenu-itens a{
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  color: var(--sidebar-cor-btn-menu);
  border-radius: 5px;
  font-weight: 600;
	margin-bottom: 5px;
}

.sidebar__menu-itens a:hover {
  color: var(--sidebar-cor-hover-btn-menu);
}

.sidebar__menu-itens a i {
  font-size: 1.5rem;
  width: 48px;
  text-align: center;
}

.sidebar__menu-itens .active-item {
  color: var(--sidebar-cor-active-btn-menu);
  background-color: var(--sidebar-cor-bg-btn-menu);
}

.sidebar__submenu-name {
	display: flex;
	align-items: center;
}

.sidebar__submenu-itens {
  margin-top: -2px;
  padding: 0 10px;
  border: 2px solid var(--sidebar-cor-bg-btn-menu);
  border-radius: 0 0 5px 5px;
}

.sidebar__submenu-itens a {
  font-size: 0.9rem;
  padding: 10px 0;
  margin: 0;
  color: var(--sidebar-cor-btn-submenu);
}

.sidebar__submenu-itens a:hover {
  color: var(--sidebar-cor-hover-btn-submenu);
}

.sidebar__submenu {
	justify-content: space-between;
	margin: 0;
}

.sidebar__submenu,
.sidebar__submenu > i {
  transition: 0.5s;
}

.sidebar .submenu--item-active {
  color: var(--sidebar-cor-btn-active-submenu);
  background-color: var(--sidebar-cor-bg-btn-menu);
  border-radius: 5px 5px 0 0;
}

.sidebar .submenu--item-active > i {
  transform: rotate(180deg);
}

.sidebar__submenu-itens li:not(:nth-child(1)) {
  border-radius: 0px;
  border-top: 1px solid var(--sidebar-cor-bg-btn-menu);
}

/*-------SIDEBAR DESKTOP--------*/
@media screen and (min-width: 768px) {
	body {
		margin-left: 85px;
	}

	.navbar{
		height: 75px;
	}
	
	.navbar-frase { 
		display: block;
	}
	
	.sidebar__container {
  	opacity: 1;
  	visibility: visible;
		width: auto;
	}

	.sidebar {
		top: 75px;
		left: 0;
		width: 85px;
	}
	
	.sidebar__wrapper-top {
		display: none;
	}
	
	.sidebar__menu-itens{margin-top: 5px;}
	
	.sidebar__menu-itens a {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		height: auto;
		font-weight: 700;
		font-size: 0.9rem;
	}
	
	.sidebar__menu-itens a i{
		font-size: 1.8rem;
	}
	
	.sidebar__submenu-itens {
		position: absolute;
		top: 0;
		left: 100%;
		margin: 0;
		border-radius: 0;
		width: 210px;
		background-color: #fff;
		border: none;
		box-shadow: 5px 0px 15px 0px #00000036;
	}
	
	.sidebar__submenu-itens a{
		margin: 0;
		font-size: 0.8rem;
	}
	
	.sidebar .submenu--item-active {
		border-radius: 0;
		background-color: #fff;
		box-shadow: 0 0 10px 3px #c9c9c9;
	}
	
	.sidebar__submenu .fa-caret-down {
		display: none;
	}
	
	.sidebar__submenu-name {
		flex-direction: column;
	}
}
/*---------FIM SIDEBAR DESKTOP-----------*/

/*------- CONTEÚDO -------*/

.noticias__titulo,
.card-title,
.editais__titulo,
.depoimentos__titulo,
.modal-title--personalizado,
.bolsas__titulo {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--cor-principal);
}

.card--border-none {
  border: none;
}

.card-body--padding {
  padding: 1rem;
  background: #fff;
}

.card-body--height {
  min-height: 125px;
}

.card__principal {
  width: 100%;
  margin-bottom: 1rem;
}

.card--img {
  height: 250px;
  object-fit: cover;
}

.card-text--overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*-------------------EDITAIS-----------------------*/
.editais {
  background-color: var(--editais-cor-bg);
}
.editais__titulo {
  color: var(--editais-cor-titulo);
}

.nav__lista {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  color: var(--editais-cor-link);
  width: 100%;
  padding: 1em 0;
}

.nav__link {
  width: 100%;
  font-size: 1rem;
  margin-right: 1rem;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link .fa-file-pdf {
  font-size: 2.5rem;
  padding-left: 10px;
  color: var(--editais-cor-icone-pdf);
}

.editais__ver-mais {
  color: var(--editais-cor-link);
}

.nav__link:hover,
.nav__link:hover .fa-file-pdf,
.editais__ver-mais:hover {
  color: var(--editais-cor-hover-link);
  text-decoration: none;
}

/*-----------------DEPOIMENTOS----------------------*/
.container--depoimentos {
  background: #540000;
  width: 90%;
  margin: 0 auto;
}

.depoimentos__titulo {
  padding-top: 1em;
  margin: 0;
}

.carousel-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container--img {
  padding-top: 1em;
}

.figure__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.figure-caption__titulo {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  padding: 0.5em;
}

.figure__desc {
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.indices {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

.carousel-indicators--personal {
  position: static;
  padding-bottom: 1em;
}

.carousel-indicators--personal li {
  height: 23px;
  width: 23px;
  background: #fff;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border: none;
}

.informativo h2 {
  padding: 5px;
}

.informativo_item {
  font-size: 16px;
}

.informativo_item img {
  height: 20px;
  width: 20px;
  font-size: 10px;
}

.informativo_item h4 {
  font-size: 5px;
}

/*----------- RODAPE -----------*/
.footer {
  background-color: var(--rodape-cor-bg);
  color: var(--rodape-cor-texto);
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.6;
}

.footer__item a {
  color: inherit;
  display: flex;
  align-items: center;
  line-height: 2.2rem;
}

.footer__item i {
  color: var(--rodape-cor-icones);
  font-size: 1.5rem;
  margin-right: 0.6rem;
}

.footer__item a {
  color: var(--rodape-cor-links);
  font-size: 1.25rem;
}

.footer__item:hover a {
  color: var(--rodape-cor-hover-links);
  text-decoration: none;
  margin-left: 0.3rem;
  transition: all 0.3s;
}

.footer__particao {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 15px;
  color: var(--rodape-cor-titulo-barras);
  border-left: 4px solid var(--rodape-cor-titulo-barras);
  padding-left: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.footer__desc {
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

.footer__mapa {
  color: var(--rodape-cor-btn-comochegar);
}

.footer__mapa:hover {
  color: var(--rodape-cor-hover-btn-comochegar);
  margin-left: 0.3rem;
  transition: all 0.3s;
}

.footer__mapa:hover a {
  text-decoration: none;
}

.footer__mapa i {
  font-size: 1.5rem;
}

.footer__mapa a {
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5px;
}

.footer__logo {
  width: 40%;
}

.footer__logo-img {
  width: 100%;
}

.footer .redes-sociais a {
  font-size: 2.5rem;
  color: var(--rodape-cor-icones);
  margin-right: 0.5rem;
}

.footer .redes-sociais a:hover {
  color: var(--rodape-cor-hover-icones);
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.footer__btn-help {
  border: none;
  color: var(--rodape-cor-texto-btn-faleconosco);
  font-weight: 700;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  background-color: var(--rodape-cor-btn-faleconosco);
}

.footer__btn-help:hover {
  color: var(--rodape-cor-hover-texto-btn-faleconosco);
  background-color: var(--rodape-cor-hover-btn-faleconosco);
}

.footer__btn-top {
  color: var(--rodape-cor-links);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__btn-top:hover {
  color: var(--rodape-cor-hover-links);
  margin-right: 0.3rem;
  transition: all 0.3s;
}

.footer__btn-top:hover a {
  text-decoration: none;
}

.footer__btn-top a {
  color: inherit;
  margin-right: 10px;
}

.footer__btn-top i {
  font-size: 1.5rem;
}

.footer__btn-help:focus {
  outline: none;
}

/*-----------MODAL----------*/
.modal-content {
  background-color: var(--modalFaleConosco-cor-bg);
  color: var(--modalFaleConosco-cor-texto);
}

.modal-title--personalizado {
  padding-top: 1em;
  color: var(--modalFaleConosco-cor-titulo);
}

.modal__desc {
  font-weight: 700;
  margin: 0;
  line-height: 1.4;
}

.modal-header--personalizado {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal-btn-close--position {
  position: absolute;
  right: 6%;
}

.modal-btn-close--position .close {
  color: var(--modalFaleConosco-cor-texto);
}

.form-contato__fieldset {
  display: flex;
  flex-direction: column;
}

.form-contato__fieldset label {
  font-size: 1.125rem;
  margin-bottom: 0.2em;
}

.input-default {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid var(--modalFaleConosco-cor-borda-input);
  outline: none;
  border-radius: 3px;
  margin-bottom: 0.5em;
  background-color: var(--modalFaleConosco-cor-bg-input);
  color: var(--modalFaleConosco-cor-texto-input);
}

.btn-modal {
  background-color: var(--modalFaleConosco-cor-btn-enviar);
  color: var(--modalFaleConosco-cor-texto-btn-enviar);
  justify-self: flex-start;
  font-weight: 700;
  padding: 0.375em 1.5em;
}

.btn-modal:hover {
  background-color: var(--modalFaleConosco-cor-hover-btn-enviar);
  color: var(--modalFaleConosco-cor-hover-btn-texto-enviar);
}





