:root {
  --primary-clr: #540000;
  --primary-title-clr: #700404;
  --text-dark-clr: #212529;
  --text-light-clr: #fff;
  --btn-primary-clr: #700404;
  --depoimentos-indices-clr: #fff;

  --bg-clr: #f3f3f3;
  --rodape-bg-clr: #E3E3E3;

  --editais--icon: #fff;
  --rodape-icon-clr: #700404;
}

body {
  background: var(--bg-clr);
}

.noticias__titulo,
.card-title,
.editais__titulo,
.depoimentos__titulo,
.modal-title--personalizado {
  color: var(--primary-title-clr);
}

/*---------------------BOTÕES---------------------*/
.footer__btn-help {
  color: var(--btn-primary-clr);
}

/*---------------------NOTICIAS---------------------*/
.card-text-clr {
  color: var(--text-dark-clr);
}

/*---------------------DEPOIMENTOS---------------------*/
.container--depoimentos {
  background: var(--primary-clr);
}
/*Nome depoimentos*/
.figure-caption__titulo {
  color: var(--text-light-clr);
}
/*descrição depoimentos*/
.figure__desc {
  color: var(--text-light-clr);
}
/*indices depoimentos*/
.carousel-indicators--personal li {
  background: var(--depoimentos-indices-clr);
}
/*descrição (VEJA NOSSOS COMENTÁRIOS)*/
.depoimentos__desc {
  color: var(--text-dark-clr);
}

/*---------------------RODAPE---------------------*/
.footer {
  background: var(--rodape-bg-clr);
}
/*icones do rodapé*/
.footer__item i {
  color: var(--rodape-icon-clr);
}
/*links do rodapé*/
.footer__item {
  color: var(--text-dark-clr);
}
/*Separadores dos links*/
.footer__particao {
  color: var(--rodape-icon-clr);
  border-color: var(--rodape-icon-clr);
}
/*Icones redes sociais*/
.redes-sociais a {
  color: var(--rodape-icon-clr);
}
/*informações do rodape*/
.footer__desc {
  color: var(--text-dark-clr);
}
/*Link (COMO CHEGAR)*/
.footer__mapa {
  color: var(--rodape-icon-clr);
}
/*icone (COMO CHEGAR)*/
.footer__mapa i {
  color: var(--rodape-icon-clr);
}
/*btn (IR PARA O TOPO)*/
.footer__btn-top {
  color: var(--rodape-icon-clr);
}

/*---------------------EDITAIS---------------------*/
.editais {
  background: var(--primary-clr);
}
.editais__titulo {
  color: var(--text-light-clr);
}
/*links editais*/
.nav__item {
  color: var(--text-light-clr);
}
.editais__ver-mais {
  color: var(--text-light-clr);
}
/*cor do hover nos links*/
.nav a:hover {
  color: var(--text-light-clr)
}
.nav__item i {
  color: var(--editais--icon);
}