carousel slide container@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Nunito"; 
    box-sizing: border-box; 
    background: #f3f3f3;
    margin-top: 6.5rem;
}

/*-------------------NAVBAR-------------------*/
.navbar{padding: 0.25rem;}

/*------NAVBAR-TOGGLE-------*/
.navbar button:focus{outline: 0;}

.navbar .navbar-brand{
    padding-bottom: 10px;
    margin: 0;
}

.navbar-toggler{font-size: 1.6rem;}

.navbar-light .navbar-toggler{
    border: none;
    color: rgba(0,0,0,0.8);
}

.navbar-brand img{width: 120px;}

/*------NAVBAR-MENU-------*/
.navbar-menu{
    display: flex;
    flex-wrap: wrap;
}

.navbar-menu-item{
    outline: 0;
    padding: 12px 5px;
    margin: 0;
    border: none;
    background: transparent;
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-menu-item i{
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.navbar-menu-item span{
    font-weight: 700;
    font-size: 0.7rem;
}

@media screen and (max-width: 400px){
    .navbar-brand img{width: 100px;}
    .navbar-menu-item{width: 80px;}
}

/*-----------------FIM-NAVBAR-----------------*/
/*-----------------NOTICIAS-----------------*/
.col-5,
.col-4,
.col-7{
     
}
.noticia--conteudo--texto{
    position: absolute;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    
    
}

.noticia--container{
   
   
    float: left;
    width: 70%;
    
}
.noticia--container h5{
   color: #000; 
    background: rgba(0, 0, 0, 0.4);
}
.noticia--container h6{
    color: #000;
    background: rgba(0, 0, 0, 0.4);
}
.editais{
   float: left;
    width: 30%;
    height: 380px;
}
/*
.noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  
}

.noticias__topicos{
    width: 49%;
    margin-bottom: 5px;
    
 


}
.noticias__topicos img{
  width: 100%;

  

}

.noticias--container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}
.noticias__topicos__img{
    width: 20%;
    margin-top: 5%;
    margin-left: 1%;
    position: absolute;

}
.noticias__topicos__titulo{
    display: flex;
    
}
.noticias__topicos__img h6{
    color: #ffffff;
    width: 250px;
    background-color: #000000;
    opacity: 0.9;
    margin-left: 0.5%;
    display: flex;
    

}

*/

/*-----------------SIDEBAR--------------------*/
.overflow{overflow: hidden;}

.sidebar__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
}

.sidebar{
    position: fixed;
    background-color: #fff;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: all .4s;
}

.btn-sidebar-active .sidebar__container{
    opacity: 1;
    visibility: visible;
}

.btn-sidebar-active .sidebar{transform: translateX(250px);}

.sidebar__wrapper-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.sidebar__wrapper-top img{width: 85px;}
.sidebar__wrapper-top i{font-size: 1.4rem;}

/*-------INTERNO-NAVBAR-MOBILE------*/

.sidebar__menu-itens{
    width: 100%;
    padding: 0 5px;
}

.sidebar__menu-itens a{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    color: #646464;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
}

.sidebar__menu-itens a i{
    font-size: 1.5rem;
    width: 48px;
    text-align: center;
}

.sidebar__menu-itens .active-item{
    color: #711f1f;
    background-color: #d4d4d4;
}

.sidebar__submenu-itens{
    margin-top: -2px;
    padding: 0 10px;
    border: 2px solid #d4d4d4;
    border-radius: 0 0 5px 5px;
}

.sidebar__submenu-itens a{
    font-size: 0.9rem;
    padding: 10px 0;
    margin: 0;
}

.sidebar__submenu, .sidebar__submenu > i{transition: .7s;}

.sidebar .submenu--item-active{
    color: #711f1f;
    background-color: #d4d4d4;
    border-radius: 5px 5px 0 0;
}

.sidebar .submenu--item-active > i{transform: rotate(180deg);}

.sidebar__submenu-itens--divider{
    height: 1px;
    background-color: #d4d4d4;
}

/*------- CONTEÚDO -------*/

.noticias__titulo,
.card-title,
.editais__titulo,
.depoimentos__titulo,
.modal-title--personalizado,
.bolsas__titulo {
    font-weight: 700;
    font-size: 1.25rem;
    color: #700404;

}

.card--border-none {border: none;}

.card-body--padding {
    padding: 1rem;
    background: #fff;
}

.card-body--height {min-height: 125px;}

.card__principal {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;

}

.card--img {
    height: 250px;
    object-fit: cover;

}

.card-text--overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.editais {background: #540000;}
.editais__titulo {color: #fff;}

.nav__lista {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.nav__link {
    font-size: 1rem;
    margin-right: 1rem;
    color: inherit;
}

.fa-file-pdf {font-size: 2.5rem;}

.editais__ver-mais {color: #fff;}

/*-----------------DEPOIMENTOS----------------------*/
.container--depoimentos {
    background: #540000;
    width: 90%;
    margin: 0 auto;
}

.depoimentos__titulo {
    padding-top: 1em;
    margin: 0;
}

.carousel-item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container--img {padding-top: 1em;}

.figure__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.figure-caption__titulo {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    padding: .5em;
}

.figure__desc {
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.indices {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
}

.carousel-indicators--personal {
    position: static;
    padding-bottom: 1em;
}

.carousel-indicators--personal li {
    height: 23px;
    width: 23px;
    background: #fff;
    border-radius: 50%;
    margin: 0 4px;
    opacity: .5;
    transition: opacity 0.6s ease;
    border: none;
}

.informativo h2{padding: 5px;}

.informativo_item{font-size: 16px}

.informativo_item img{
    height: 20px;
    width: 20px;
    font-size: 10px
}

.informativo_item h4{font-size: 5px;}

/*----------- NOTICIAS -----------*/
.img-noticias{
    height: 200px;
    width: 100%;
    object-fit: cover;

}


/*-----------BOLSAS -----------*/
.bloco-bolsas img{
    height: 100px;
    width: 90px;  
}
.bolsas{
    background-color: #ffffff;
}

.bloco-bolsas{
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-style: solid;
    border-width: 1px;
    border-color: #646464;
    background-color: #ffffff;

}

/*----------- RODAPE -----------*/
.footer {
    background-color: #E3E3E3;
    color: white;
}

.footer-copyright {
    background-color: #E3E3E3;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.footer__list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.6;
}

.footer__item a {color: inherit;}

.footer__item i {
    color: #700404;
    font-size: 1.5rem;
    margin-right: .6rem;
}

.footer__link,
.footer__item {
    color: #000;
    font-size: 1.25rem;
}

.footer__particao {
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    color: #700404;
    border-left: 4px solid #700404;
    padding-left: .3em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.footer__desc {
    color: #000;
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
}

.footer__mapa {
    color: #700404;
    margin-top: 5px;
}

.footer__icon {
    font-size: 1.5rem;
    color: #700404;
}

.footer__mapa a {
    color: inherit;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
}

.footer__logo {
    width: 40%;
    margin-top: 25px;
}

.footer__logo-img {width: 100%;}

.footer .redes-sociais a {
    font-size: 2.5rem;
    color: #700404;
    margin-right: .5rem;
}

.footer__btn-help {
    border: none;
    color: #700404;
    font-weight: 700;
    padding: .2rem 1rem;
    font-size: 1.2rem;
}

.footer__btn-top {
    color: #700404;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__btn-top a {
    color: inherit;
    margin-right: 10px;
}

.footer__btn-top i {font-size: 1.5rem;}

/*-----------MODAL----------*/
.modal-title--personalizado {padding-top: 1em;}

.modal__desc {
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
}

.modal-header--personalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-btn-close--position {
    position: absolute;
    right: 6%;
}

.form-contato__fieldset {
    display: flex;
    flex-direction: column;
}

.form-contato__fieldset label {
    font-size: 1.125rem;
    margin-bottom: .2em;
    color: #000;
}

.input-default {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #540000;
    outline: none;
    border-radius: 3px;
    margin-bottom: .5em;
}

.btn-modal {
    background: #540000;
    color: #fff;
    justify-self: flex-start;
    font-weight: 700;
    padding: .375em 1.5em;
}
/*---------------------------*/
@media (min: 320px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 769px) {
    .img-noticias img{
        height: 450px;  
    }
    .img-noticias {
        height: 450px;   
    }
    .bloco-bolsas img{
        width: 150px;

    }
}
@media (min-width: 426px) and (max-width: 768px){

    .img-noticias img{
        height: 300px;  
        width: 100%;
    }
    .img-noticias {
        height: 300px;  
        width: 100%;
    }

}

@media (min-width: 376px) and (max-width: 425px){
    .img-noticias img{
        height: 200px;
    }
}

@media (min-width: 320px) and (max-width: 375px){
    .img-noticias img{
        height: 200px;
    }
}
@media  (max-width: 319px){
    .img-noticias img{
        height: 200px;
    }
}

@media (max-width: 769px) {
    .card-title{

    }
    .carousel-item{
        width: 100%;
    }

}
