@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: "Nunito"; 
	box-sizing: border-box; 
	background: #f3f3f3;
	margin-top: 6.5rem;
}

/*-------------------NAVBAR-------------------*/
.navbar{padding: 0.25rem;}

/*------NAVBAR-TOGGLE-------*/
.navbar button:focus{outline: 0;}

.navbar .navbar-brand{
	padding-bottom: 10px;
 	margin: 0;
}

.navbar-toggler{font-size: 1.6rem;}

.navbar-light .navbar-toggler{
	border: none;
	color: rgba(0,0,0,0.8);
}

.navbar-brand img{
	width: 120px;
}

/*------NAVBAR-MENU-------*/
.navbar-menu{
	display: flex;
	flex-wrap: wrap;
}

.navbar-menu-item{
	outline: 0;
	padding: 12px 5px;
	margin: 0;
	border: none;
	background: transparent;
	width: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar-menu-item i{
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
}

.navbar-menu-item span{
	font-weight: 700;
	font-size: 0.7rem;
}

@media screen and (max-width: 400px){
	.navbar-brand img{width: 100px;}
	.navbar-menu-item{width: 80px;}
}

/*-----------------FIM-NAVBAR-----------------*/
/*-----------------SIDEBAR--------------------*/
.overflow{overflow: hidden;}

.sidebar__container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.sidebar{
  position: fixed;
	background-color: #fff;
	width: 250px;
	height: 100%;
  left: -250px;
  transition: all .4s;
}

.btn-sidebar-active .sidebar__container{
  opacity: 1;
  visibility: visible;
}

.btn-sidebar-active .sidebar{transform: translateX(250px);}

.sidebar__wrapper-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 25px 15px;
}

.sidebar__wrapper-top img{width: 85px;}
.sidebar__wrapper-top i{font-size: 1.4rem;}

/*-------INTERNO-NAVBAR-MOBILE------*/

.sidebar__menu-itens{
	width: 100%;
	padding: 0 5px;
}

.sidebar__menu-itens a{
	width: 100%;
	height: 42px;
	display: flex;
	align-items: center;
	color: #646464;
	border-radius: 5px;
	margin-bottom: 5px;
	font-weight: 600;
	text-decoration: none;
}

.sidebar__menu-itens a i{
	font-size: 1.5rem;
  width: 48px;
  text-align: center;
}

.sidebar__menu-itens .active-item{
	color: #711f1f;
	background-color: #d4d4d4;
}

.sidebar__submenu-itens{
	margin-top: -2px;
	padding: 0 10px;
	border: 2px solid #d4d4d4;
	border-radius: 0 0 5px 5px;
}

.sidebar__submenu-itens a{
	font-size: 0.9rem;
	padding: 10px 0;
	margin: 0;
}

.sidebar__submenu, .sidebar__submenu > i{transition: .7s;}

.sidebar .submenu--item-active{
  color: #711f1f;
  background-color: #d4d4d4;
  border-radius: 5px 5px 0 0;
}

.sidebar .submenu--item-active > i{transform: rotate(180deg);}

.sidebar__submenu-itens--divider{
	height: 1px;
	background-color: #d4d4d4;
}

/*------- CONTEÚDO -------*/

.noticias__titulo,
.card-title,
.editais__titulo,
.depoimentos__titulo,
.modal-title--personalizado,
.bolsas__titulo {
  font-weight: 700;
  font-size: 1.25rem;
  color: #700404;
}

.card--border-none {
  border: none;
}

.card-body--padding {
  padding: 1rem;
  background: #fff;
}

.card-body--height {
  min-height: 125px;
}

.card__principal {
  width: 100%;
  margin-bottom: 1rem;
}

.card--img {
  height: 250px;
  object-fit: cover;
  
}

.card-text--overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.editais {
  background: #540000;
}

.editais__titulo {
  color: #fff;
}

.nav__lista {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.nav__link {
  font-size: 1rem;
  margin-right: 1rem;
  color: inherit;
}

.fa-file-pdf {
  font-size: 2.5rem;
}

.editais__ver-mais {
  color: #fff;
}

/*-----------------DEPOIMENTOS----------------------*/
.container--depoimentos {
  background: #540000;
  width: 90%;
  margin: 0 auto;
}

.depoimentos__titulo {
  padding-top: 1em;
  margin: 0;
}

.container--img {
  padding-top: 1em;
}

.figure__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.figure-caption__titulo {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  padding: .5em;
}

.figure__desc {
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.indices {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

.carousel-indicators--personal {
  position: static;
  padding-bottom: 1em;
}

.carousel-indicators--personal li {
  height: 23px;
  width: 23px;
  background: #fff;
  border-radius: 50%;
  margin: 0 4px;
  opacity: .5;
  transition: opacity 0.6s ease;
  border: none;
}

.informativo h2{
    padding: 5px;
}

.informativo_item{
    font-size: 16px
    
}

.informativo_item img{
    height: 20px;
    width: 20px;
    font-size: 10px
}

.informativo_item h4{
    font-size: 5px;
}

/*----------- RODAPE -----------*/

#myFooter {
    background-color: #E3E3E3;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #E3E3E3;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.informativo{
 border-right: 1.5px solid #000;
 border-height: 7px;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    color: #700404;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #700404;
}

.informativo{
    font-size: 1px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    color: #700404;
}

.informativo h2{
    line-height: 0.3;
}

#myFooter a {
    color: #000;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #700404;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #700404;
    font-family: serif;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .youtube:hover {
    color: #00aced;
}

#myFooter .phone:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: start;
    }

    .informativo{
        left: 120px;
        border-right: none;
    }
}


/* CSS utilizado para posicionar o rodapé no final da página. */
/* Você pode remover isso. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}